/* Colors - Dark Blue */
$white: #fff;
$grey: #999;
$grey-dark: #505050;

$primary-color: #2E363F;
$primary-color-dark: #292F38;
$primary-color-darker: #1b1f23;

$secondary-color: #1980B6;
$secondary-color-dark: #146794;
$secondary-color-darker: #239ee0;

$tertiary-color: #afafaf;
$tertiary-color-dark: #454b56;
$tertiary-color-darker: #2d2f3c;